.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0px;
    color: #ffffff;
    font-family: 'poppins';
}

body {
  background: url(https://trello.com/1/cards/66b20a121480761d85c9f58b/attachments/66bb8a80db5da87f3a95724a/previews/66bb8a81db5da87f3a957b0d/download/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.item {
    object-fit: cover;
    max-width: 50px;
    height: 50px;
    border-radius:50%;
}

#top-line{
    display: flex;
}

#cima {
    transform: rotate(90deg);
    display: flex;
    padding-left: 10px;
    height: 180px;
}

#chefe{
    object-fit: cover;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
}

#logo {
    max-height: 50px;
    margin-top: 20px;
    margin-left: 70px;
    cursor: pointer;
    display: flex;
}

footer{
    font-size: 8px;
    position: fixed;
    bottom: 0;
    left: 10px;
    right: 10px;
}