.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0px;
    font-family: 'poppins';
}

body {
    background: url(https://trello.com/1/cards/66b20a121480761d85c9f58b/attachments/66bb8a80db5da87f3a95724a/previews/66bb8a81db5da87f3a957b0d/download/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#logo {
    max-height: 50px;
    margin-top: 20px;
    margin-left: 70px;
    cursor: pointer;
    display: flex;
}

label{
    color: #ffff;
}
